[tool.poetry]
name = "api"
version = "0.1.0"
description = ""
authors = ["Jakub Piecha <piechajakub@wp.pl>"]
license = "Beerware"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
django = "4.2.4"
pytest = "7.4.0"
pytest-django = "4.5.2"
flake8 = "6.1.0"
flake8-django = "1.4"
black = {extras = ["d"], version = "^23.7.0"}
mypy = "1.5.1"
django-stubs = "4.2.3"
django-stubs-ext = "4.2.2"
psycopg = "3.1.10"
dj-database-url = "2.1.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "config.settings"
python_files = ["test_*.py"]

[tool.black]
line-length = 120
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
    | \git/ # exclude a directory
    | \.mypy_cache/ # exclude a directory
    | \.pytest_cache/ # exclude a directory
    | .*\.pyi? # excluded generated files
    | .*\.json # excluded netadata files
    | .*\.md # excluded documentation
    | .*\.toml # excluded configurationa files
    | .*\.yaml # excluded configurationa files
    | .*\.yml # excluded configurationa files
    | .*\.txt # excluded configurationa files
    | .*\.lock # excluded configurationa files
    | .*\.sh # excluded configurationa files
    | .*\.log # excluded configurationa files
)/
'''

[tool.mypy]
python_version = 3.11
ignore_missing_imports = 1

plugins =["mypy_django_plugin.main", "mypy_drf_plugin.main"]


[tool.django-stubs]
django_settings_module = "config.settings"